@page "/Sistema"
@inject SistemasServices sistemasServices
@inject NavigationManager navigationManager

<PageTitle>Lista de Sistema</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
            <h5 class="card-title text-center">
                <strong>Consulta de Sistemas</strong>
            </h5>
        </div>

        <div class="card-body">
            <div class="d-flex justify-content-end mb-2">
                <a href="@AppRoutes.SCreate" class="btn btn-success">
                    <span class="bi bi-plus-square"></span> Crear
                </a>
            </div>

            <div class="row align-items-end g-2">
                <div class="col-md-3">
                    <label class="form-label"><strong>Filtrar por</strong></label>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Filtro">
                        <option value="">Elija una opción</option>
                        <option value="SistemaId">Sistema ID</option>
                        <option value="Description">Descripción</option>
                        <option value="Complejidad">Complejidad</option>
                    </InputSelect>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><strong>Búsqueda</strong></label>
                    <input class="form-control form-control-sm" @bind="ValorFiltro" placeholder="Buscar..." />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary w-100 bi bi-search" @onclick="Buscar">
                        Buscar
                    </button>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered mt-4">
                <thead class="table text-black">
                    <tr>
                        <th>Sistema ID</th>
                        <th>Descripción</th>
                        <th>Complejidad</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sistema in Sistemas)
                    {
                        <tr>
                            <td>@sistema.SistemaId</td>
                            <td>@sistema.Description</td>
                            <td>@sistema.Complejidad</td>
                            <td class="text-center">
                                <a href="@AppRoutes.SEdit/@sistema.SistemaId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    public List<Sistema> Sistemas { get; set; } = new List<Sistema>();

    private async Task Buscar()
    {
        if (Filtro == "SistemaId")
        {
            Sistemas = await sistemasServices.Listar((t) => t.SistemaId.ToString().Contains(ValorFiltro));
        }
        else if (Filtro == "Description")
        {
            Sistemas = await sistemasServices.Listar((t) => t.Description.ToString().Contains(ValorFiltro));
        }
        else if (Filtro == "Complejidad")
        {
            Sistemas = await sistemasServices.Listar((t) => t.Complejidad.ToString().Contains(ValorFiltro));
        }
    }

}
